@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  @apply text-left text-xs md:text-sm lg:text-base;
}

h1 {
  @apply text-left text-3xl font-bold md:text-4xl lg:text-5xl;
}

h2 {
  @apply text-left text-2xl font-bold md:text-3xl lg:text-4xl;
}

h3 {
  @apply text-left text-xl font-bold md:text-2xl lg:text-3xl;
}

h4 {
  @apply text-left text-lg font-bold md:text-xl lg:text-2xl;
}

small {
  @apply text-xs text-gray-500;
}
